{%extends "base.html"%}
{% block head %}
<title>Admin page</title>
	
<style>
	
</style>
{% endblock %}
{% block main%}
<!--Container divide the sections-->
<div class="container"  class=".col-sm-4" style="padding-left:20%; padding-right:20%; padding-top: 3% ">
	<!--Admin-->
	<div class="page">
		<h1 class="head">Admin page</h1>

		<br>
		<div class="container">
			<form action="{{url_for('checkuser', arg='searching')}}" method="POST">
				<div class="form-group">
					<label for="userIE">Search user ID or Email:</label>
					<input type="text" id="userIE" name="userIE">
				</div>
				<input type="submit" value="Submit">
			</form>
			<form action="{{url_for('checkuser', arg='searching')}}" method="POST">
				<div>
					{% if userinfo %}
					<p>UserID: {{userinfo[0]}}</p>
					<p>UserName: {{userinfo[1]}}</p>
					<p>First Name: {{userinfo[2]}}</p>
					<p>Last Name: {{userinfo[3]}}</p>
					<p>Email: {{userinfo[4]}}</p>
					<p>Phone No.: {{userinfo[5]}}</p>
					<p>Password: {{userinfo[6]}}</p>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

