{%extends "base.html"%}
{% block head %}
<title>Az Cloud Service - SSL Cloud Web Hosting Price List</title>

<style>
    .head {
        text-align: center;
        font-family: "Stencil Std,fantasy";
        font-weight: 800;
    }

    .pricing-header{
        background-color: lightgray;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }
    .button{
        text-align: center;
        margin: 4px 4px;
        padding: 5px 10px; 
    }
</style>
{% endblock %}
{% block main%}
    <!--Container divide the sections-->
    <div class="container" class=".col-sm-4" style="padding-left:20%; padding-right:20%; padding-top: 3%">
            <div class="page">
                <!--Page of product price list -->
	    		<h1 class="head">SSL Cloud Web Hosting Price List</h1>
	    		<div class="vc_row-full-width vc_clearfix"></div>
	    			<div class="wpb_column vc_column_container vc_col-sm-4 relative">
	                    <div class="vc_column-inner ">
	                        <div class="wpb_wrapper">
	                        	<div class="pricinglist">
	                        		<div class="pricing-header">
	                        			<p class="pricing-title">SSL Hosting Lite</p>
	                        			<p class="pricing-price"> <sup>*HK$</sup>128 /Month</p>
	                        		</div>
	                        		<div class="pricing4-options">
                                        <ul>
                                            <li>SSL Certificate Website</li>
                                            <li>Company Email Service</li>
                                            <li>1 SSL Certificate</li>
                                            <li>－</li>
                                            <li>5GB SSD Website Storage</li>
                                            <li>10GB Mail Server Storage</li>
                                            <li>10 Email Accounts</li>
                                            <li>Basic Mailbox Protection</li>
                                            <li>1 QTY MySQL Database</li>
                                            <li>1 QTY Domain Support</li>
                                            <li>100GB Traffic</li>
                                            <li>Traffic Priority of Service - Middle</li>
                                            <li>－</li>
                                        </ul>
                                    </div> 
                                    <form action="cart" method="POST">
                                        <button type="submit" class="button" id="productID" name="productID" value="HOST01">Buy Now</button>
                                    </form> 
                                </div>	
	                        </div>
	                    </div>
	                </div>
	                <div class="wpb_column vc_column_container vc_col-sm-4 relative">
	                    <div class="vc_column-inner ">
	                        <div class="wpb_wrapper">
	                        	<div class="pricinglist">
	                        		<div class="pricing-header">
	                        			<p class="pricing-title">SSL Hosting Basic</p>
                                            <p class="pricing-price"> <sup>*HK$</sup> 188 /Month</p>
                                    </div>
                                    <div class="pricing4-options">
                                        <ul>
                                            <li>Basic SSL Certificate Website</li>
                                            <li>Company Email Service</li>
                                            <li>1 Comodo PositiveSSL</li>
                                            <li>1 Dedicated IP address</li>
                                            <li>10GB SSD Website Storage</li>
                                            <li>15GB Mail Server Storage</li>
                                            <li>20 Email Accounts</li>
                                            <li>Advanced Mailbox Protection</li>
                                            <li>1 QTY MySQL Database</li>
                                            <li>1 QTY Domain Support</li>
                                            <li>1TB Traffic</li>
                                            <li>Traffic Priority of Service - Middle</li>
                                            <li>－</li>
                                        </ul>
                                    </div> 
                                    <form action="cart" method="POST">
                                        <button type="submit" class="button" id="productID" name="productID" value="HOST02">Buy Now</button>
                                    </form> 
                                </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="wpb_column vc_column_container vc_col-sm-4 relative">
	                    <div class="vc_column-inner ">
	                        <div class="wpb_wrapper">
	                        	<div class="pricinglist">
	                        		<div class="pricing-header">
	                        			<p class="pricing-title">SSL Hosting Pro</p>
                                            <p class="pricing-price"> <sup>*HK$</sup> 398 /Month</p>
                                    </div>
                                    <div class="pricing4-options">
                                        <ul>
                                            <li>Best Data Protection SSL Website</li>
                                            <li>Business Email Service</li>
                                            <li>1 Comodo PositiveSSL</li>
                                            <li>1 Dedicated IP Address</li>
                                            <li>20GB SSD Website Storage</li>
                                            <li>30GB Mail Server Storage</li>
                                            <li>100 Email Accounts</li>
                                            <li>Advanced Mailbox Protection</li>
                                            <li>3 QTY MySQL Database</li>
                                            <li>1 QTY Domain Support</li>
                                            <li>Unlimited Traffic</li>
                                            <li>Traffic Priority of Service – Middle</li>
                                            <li>Shared Addr Book and Calendar</li>
                                        </ul>
                                    </div> 
                                    <form action="cart" method="POST">
                                        <button type="submit" class="button" id="productID" name="productID" value="HOST03">Buy Now</button>
                                    </form> 
                                </div>	
	                        </div>
	                    </div>
	                </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4 relative">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="pricinglist">
                                    <div class="pricing-header">
                                        <p class="pricing-title">SSL Hosting Premium</p>
                                            <p class="pricing-price"> <sup>*HK$</sup> 598 /Month</p>
                                    </div>
                                    <div class="pricing4-options">
                                        <ul>
                                            <li>Email Protection SSL Website</li>
                                            <li>Corporate Email Service</li>
                                            <li>1 GeoTrust QuickSSL Premium</li>
                                            <li>1 Dedicated IP Address</li>
                                            <li>50GB SSD Website Storage</li>
                                            <li>50GB Mail Server Storage</li>
                                            <li>Unlimited Email Accounts</li>
                                            <li>Advanced Mailbox Protection</li>
                                            <li>Unlimited QTY MySQL Database</li>
                                            <li>1 QTY Domain Support</li>
                                            <li>Unlimited Traffic</li>
                                            <li>Traffic Priority of Service - Privilege</li>
                                            <li>Shared Addr Book and Calendar</li>
                                        </ul>
                                    </div> 
                                    <form action="cart" method="POST">
                                        <button type="submit" class="button" id="productID" name="productID" value="HOST04">Buy Now</button>
                                    </form> 
                                </div>  
                            </div>
                        </div>
                    </div>
	    		</div>
                <br><br>
                <p>* Average monthly price for 1-year plan</p>
	    	</div>
        </div>
{% endblock %}
